<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>271333310396-aj691r62d890qdqjbdsbam059niskghj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.271333310396-aj691r62d890qdqjbdsbam059niskghj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>271333310396-a7065ue48k10ch32vugfn7pu6h3fuc3s.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyApRaN9Fj40eFKcAV-OIKBOZXjCkkoqGEI</string>
	<key>GCM_SENDER_ID</key>
	<string>271333310396</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.metafortech.woobox</string>
	<key>PROJECT_ID</key>
	<string>romaa-babe3</string>
	<key>STORAGE_BUCKET</key>
	<string>romaa-babe3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:271333310396:ios:bbb08b605299ae715e35b9</string>
</dict>
</plist>